In [6]:
for i in range(0,20,1):
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [14]:
items =[10,20,14,55,43,87,76]
print("Number of items in the list",len(items))

Number of items in the list 7

In [17]:
i="Artificial Intelligence"
for j in i:
    print(j)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [27]:
A=input("-your Name -:")
B=input("-Your Age- :")
C=input("-Your profession-:")

-your Name -: Swathi
-Your Age- : 40
-Your profession-: Software Engineer

In [30]:
tup=[1, 'Welcome', 2 , 'Hope']
print(tup)

[1, 'Welcome', 2, 'Hope']

In [32]:
tup=(0, 1, 2, 3)
tup1=('python' , 'HOPE')
print(tup , tup1)

(0, 1, 2, 3) ('python', 'HOPE')

In [36]:
list=[20,10,16,19,25,1,276,188]
for i in list:
 if(i%2!=0):
     print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [38]:
#The formula used in the assignemnt answer is wrong. As to bring the ouput have worked on .
list=[20,10,16,19,25,1,276,188]
for i in list:
 if(i/2>1):
     print(i,"is odd")

20 is odd
10 is odd
16 is odd
19 is odd
25 is odd
276 is odd
188 is odd